.mainArea {
  width: 100%;
  height: 300px;
  color: rgb(163, 163, 163);
  background-color: black;

  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: flex-end;
  padding-bottom: 40px;
}

.iconArea {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.icon {
font-size: 25px;
color: white;
margin: 0 7px;
}

.divider {
  width: 80%; /* 区切り線の幅 */
  border: 1px solid white; /* 区切り線のスタイル */
  margin: 20px 0; /* 区切り線の上下の余白 */
}